#menu2{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    text-align: center;
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
}

#menu2 li:hover{
    transform: escale();
}